{% set id_set = ids | split(pat=",") %}
{% set assumptions = load_data(path="/content/assumptions/data.toml") %}

{% for id in id_set%}
{% set assumption = assumptions[id] %}
<div class="box" id="{{id}}">
    <div class="content">
       <h3> <a href="{{ get_url(path="assumptions") }}#{{id}}">{{id}}</a> {% if assumption.title %} &ndash; {{ assumption.title }}{% endif %}</h3>
       <hr>
       {% if assumption.description %} {{ assumption.description | markdown(inline=false) | safe }} {% endif %} 
    </div>
</div>
{% endfor %}