<article class="message is-warning is-large">
    {% if header %}
    <div class="message-header">
        <p>{{ header }}</p>
    </div>
    {% endif %}
    <div class="message-body">
        {{body | markdown | safe}}
    </div>
</article>