
{% set arr_out = ids | split(pat="|") %}
{% for arr_in in arr_out %}
    {% set arr = arr_in | split(pat=",") %}
    <figure>
    {% for id in arr %}
        {% set img_url = "/report/"~id~".png" %}
       <a href="{{ img_url }}"><img src="{{ img_url }}"></a>
    {% endfor%}
    </figure>
{% endfor %}
{% if body %}
<div class="content">
    {{ body | markdown | safe }}
</div>
{% endif %}
