{% extends "base.html" %}

{% block content %}

{% set assumptions = load_data(path="/content/assumptions/data.toml") %}

{% for aid, adata in assumptions %}
<div class="box" id="{{aid}}">
    <div class="content">
       <h3> <a href="#{{aid}}">{{aid}}</a> {% if adata.title %} &ndash; {{ adata.title }}{% endif %}</h3>
       <hr>
       {% if adata.description %} {{ adata.description | markdown(inline=false) | safe }} {% endif %} 
    </div>
</div>
{% endfor %}

{% endblock %}