<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css"
    integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <meta property="og:type" content="article" />
  <meta property="og:image" content="/WormHugsInfo.png" />
  <meta property="og:image:width" content="768" />
  <meta property="og:image:height" content="768" />
  <meta property="og:url" content="{{config.base_url | safe}}{{current_path | safe}}" />
  <meta property="og:site_name" content="WormHugs.info" />

  {% block head_metadata %}

  {% set page_title = "WormHugs.info" %}
  {% set page_description = "Exposing abusive and defamatory practices of tulpa.info" %}

  <title>{{ page_title }}</title>
  <meta property="og:title" content="{{ page_title }}" />
  <meta name="description" content="{{ page_description }}" />
  <meta property="og:description" content="{{ page_description }}" />
  {% endblock %}

  <script src="/js/menu.js"></script>
</head>

<body>
  <nav class="navbar is-link" role="navigation" aria-label="main-navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><strong>WormHugs.info</strong></a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {% for menu_item in config.extra.menu %}
        <a href="{{ menu_item.path }}" class="navbar-item">{{ menu_item.text | markdown(inline=true) | safe }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <!-- <article class="message is-warning is-large">
        <div class="message-header">
          <p>Not released for public yet</p>
        </div>
        <div class="message-body">
          <p>I don't plan to add new content to the website before its release atm. I'm going to clean it up and
            probably show to a few more people before publishing it in WormHugs.info domain. Please don't share it by
            yourself yet.</p>
        </div>
      </article> -->

      {% block content %}
      {% endblock %}
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; Faux Family
      </p>
      <a href="https://gitlab.com/LapisReginaFaux/wormhugs.info-released"><span class="icon-text">
        <span class="icon">
          <i class="fa-brands fa-gitlab"></i>
        </span>
        <span>Gitlab</span>
      </span></a><br>
      <a href="https://discord.gg/4tPDh4JZUV"><span class="icon-text">
        <span class="icon">
          <i class="fa-brands fa-discord"></i>
        </span>
        <span>Discord</span>
      </span></a>
    </div>
  </footer>
</body>

</html>