{% extends "base.html" %}

{% block content %}

{% set assumptions = load_data(path="/content/conclusions/conclusions.toml") %}

<div class="content is-medium">
<h1>
    {{ page.title }}
</h1>
    
{{ page.content | safe }}

</div>

{% for cid, cdata in assumptions %}
<div class="box" id="{{cid}}">
    <div class="content">
        <h3> <a class="tag is-link is-large" href="#{{cid}}">{{cid}}</a> {% if cdata.title %} &ndash; {{ cdata.title | markdown(inline=true) | safe }}{% endif %}</h3>
        <hr>
        {% if cdata.description %}
            {{ cdata.description | markdown(inline=false) | safe }}
        {% endif %}
        {% if cdata.verifiability %} 
            <h4>Verifiability:</h4>
            {{ cdata.verifiability | markdown(inline=false) | safe }} 
        {% endif %}
        {% if cdata.falsifiability %} 
            <h4>Falsifiability:</h4>
            {{ cdata.falsifiability | markdown(inline=false) | safe }}
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}