{% extends "base.html" %}

{% block content %}
<div class="content is-medium">
<h1>
    {{ section.title }}
</h1>

<div class="content is-medium">
    {{ section.content | safe }}
</div>

<ul>
{% set pages = section.pages | reverse %}
{% for page in pages %}
    {% if page.extra["report_event"] %}
        <li><a class="has-text-primary" href="{{ page.path }}">{{ page.title | markdown(inline=true) | safe }} <span class="tag is-primary is-light is-medium"><strong>{{ page.slug }} </strong></span></a></li>
    {% elif page.extra["report"] %}
        <li><a class="has-text-danger" href="{{ page.path }}">{{ page.title | markdown(inline=true) | safe }} <span class="tag is-danger is-light is-medium"><strong>Report</strong></span></a></li>
    {% else %}
        <li><a class="has-text-info" href="{{ page.path }}">{{ page.title | markdown(inline=true) | safe }} <span class="tag is-info is-light is-medium"><strong>{{ page.slug }} </strong></span></a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
{% endblock %}
