{% extends "base.html" %}

{% block content %}


<div class="content is-medium">
    <h1> {{ section.title | markdown(inline=true) | safe }} </h1>

    {{ section.content | safe }}
</div>
{% endblock %}