{% extends "base.html" %}

{% block content %}
<div class="content is-medium">
    <h1>{{ page.title | markdown(inline=true) | safe }}</h1>
    {{ page.content | safe }}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="navigation">
    {% if page.lower or page.higher %}
        {% if page.higher %}
           <a class="pagination-previous" href="{{ page.higher.path }}">Earlier: {{ page.higher.slug }}</a> 
        {% else %} 
            <a class="pagination-previous" disabled>Earlier</a>
        {% endif %}
        {% if page.lower %}
            <a class="pagination-next" href="{{ page.lower.path }}">Next: {{ page.lower.slug }}</a>
        {% else %}
            <a class="pagination-next" disabled>Next</a>
        {% endif %}
    {% endif %}
</nav>
{% endblock %}
