{% extends "base.html" %}

{% block content %}
<div class="content is-large">
<h1>
    {{ section.title | markdown(inline=true) | safe }}
</h1>
<ul>
{% for page in section.pages %}
    <li><a href="{{ page.path }}">{{ page.title | markdown(inline=true) | safe }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
